* {
    font-family: sans-serif;
}
body {
    background-color: #ddd;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-wrap: wrap;

    width: 80%;
    
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 10%;

    border-radius: 10px;
    background-color: #fff;
}

.form-hijo {
    margin: auto auto;
    width: 90%;
}
 
.input {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px; 
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #000;
}

.submit {
    border: none;
    border-radius: 20px;
    width: 100px;
    height: 35px;
    background-color: #000;
    color: #fff;
}
.subtitulo {
    font-size: 20px;
}